<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Download Manager</title>
        <style>
            div.torrent {
                padding-bottom: 1em;
            }

            .torrent-title {
                font-weight: bold;
            }

            .no-problem {
                color: green;
            }

            .problem {
                color: red;
            }

            .warning {
                color: orange;
            }

        </style>
    </head>

    <body>
        <div class="container-fluid">

            <h1>Transmission <small>Torrents</small></h1>


            {# Load the tag library #}
            {% load bootstrap3 %}

            {# Load CSS and JavaScript #}
            {% bootstrap_css %}
            {% bootstrap_javascript %}

            {# Display django.contrib.messages as Bootstrap alerts #}
            {% bootstrap_messages %}

            {% if torrents %}
                {% for t in torrents %}
                    <div class="torrent">
                        <span class="torrent-title">{{ t.name }}</span> {{ t.percent_done_string }} {{ t.status }}<br>
                        <div>
                            {{ t.media_type }}: {{ t.media_title }}<br/>
                            {% if t.plex_media %}
                                <span class="no-problem">Plex: {{ t.plex_media.type }}: <a href="{{ t.plex_browse_url }}">{{ t.plex_media.title }}</a></span><br/>
                            {% else %}
                                <span class="problem">Not found in Plex</span><br/>
                            {% endif %}
{#                            Done date: {{ t.done_date }}<br/>#}
                            Files: {{ t.files|length }}<br/>
                            {% if t.has_rars %}
                                <span class="warning">Has rars</span><br/>
                            {% else %}
                                <span class="no-problem">No rars</span><br/>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No items</p>
            {% endif %}

        </div>
    </body>

</html>